<!doctype html>
<html>
    <head>
       
        <title>Human Fourishing Mill</title>

        <style>
                .error {
                    color: red;
                }

        </style>
    </head>
<body>
        
        <nav>
            <a href="/blog">Blog Home</a> |
            <a href="/new_post">New Post</a> |            
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
            {% for category,message in messages %}
            <li class="{{category}}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endwith %}
    
    {% block content %}
    {% endblock %}

</body>
</html>
