{% extends "base.html" %}


{% block content %}


    
    <form action='/new_post' method='post' class="container-fluid">
        <h1>Blogs</h1>
        <label>
            Click here to write new post:
        </label>
        <input type="submit" value='New Post' />
    </form>

    <hr />

    {% if posts|length == 0 %}
    <p>No blog posts yet</p>
    {% else %}
    <form class="container" >
        <ul>
        {% for post in posts %}
        <li><h3><a href="/blog?id={{post.id}}">{{post.title}}</a></h3></li>
            <p>{{post.body}}</p>
            {% for user in users %}
                {% if user.id == post.author_id %}
            <p>By <i>{{user.username}}</i></p>
                {% endif %}
            {% endfor %}
            
        {% endfor %}
        </ul>
    </form>
   
    {% endif %}

    <hr />



{% endblock %}