{% extends "base.html" %}

{% block content %}
    <h1>Archytus' Rules for Rulers</h1>
    <form action='/new_post' method='post'>
        <label>
            Click here to write new post:
        </label>
        <input type="submit" value='New Post' />
    </form>

    <hr />


    {% if posts|length == 0 %}
    <p>No blog posts yet</p>
    {% else %}
    <form>
        <ul>
        {% for post in posts %}
        <li><h3><a href="/blog?id={{post.id}}">{{post.title}}</a></h3></li>
            <p>{{post.body}}</p>
        {% endfor %}
        </ul>
    </form>
   
    {% endif %}

    <hr />



{% endblock %}