{% extends "base.html" %}

{% block content %}
<h1>New Post: Time to write write write write</h1>
<form action='/blog' method='post'>
    <tr>
        <td>
            <label>
                Title:
                <input type="text" name='new_post_name' value='{{new_post_name}}'/>
            </label>
        </td>
    </tr>
     <tr>
     <div>
        <label>
        Body:
        </label>
     </div>    
        <td>
            <textarea rows="9" cols="32" name="new_post_body" value='{{new_post_body}}'></textarea>
        </td>
    <div>
        <input type="submit" value='Add Post'/>
    </div>
    </tr>   
</form>

{% endblock %}