<!-- Taken from Digirible Captains Needs Editing -->
{% extends "base.html" %}

{% block content %}
<h2>Dirigible Captain Sign-up</h2>

<form action='/signup' method="POST">
    <table>
        <tr>
            <td><label>Name: </label></td>
            <td>
                <input type="text" name="username"/>
                <span class="name_error" value="name_error">{{ name_error }}</span>
            </td>
        </tr>
        <tr>
            <td><label>Password: </label></td>
            <td>
                <input type="password" name="password"/>
                <span class="pass_error" >{{ pass_error }}</span>
                <aside>Your password can be bad.</aside>
            </td>
        <tr>
            <td><label>Verify Password: </label></td>
            <td>
                <input type="password" name="verify" />
                <span class="veri_error" >{{ veri_error }}</span>
            </td>
        </tr>
    </table>      
    <input type="submit" name="submit"/>
</form>

{% endblock %}
